body {
	background-color: transparent;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Lato', sans-serif;
	max-width: 100%;
}
.price-text {
	text-align: center;
	z-index: 15;
	color: #fff;
}
.price-text h1 {
	font-size: 60px;
	font-family: 'Kalpurush', sans-serif;
}
.price-text h3 {
	font-size: 34px;
	font-family: 'Kalpurush', sans-serif;
}
#text {
  list-style-type: none;
  font-size: 48px;
  margin-top: 20px;
  color: #fff;
}

#text span {
	display: inline;
  	list-style-type: none;
  	padding-right: 60px;
  	float: left;
  	text-align: center;
  	font-family: 'Kalpurush', sans-serif;
	font-size: 48px;

}

/* Footer */
.footer {
	position: fixed;
	bottom: 0;
    z-index: 50;
    height: 80px;
    margin-top: 0px;
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
	z-index: 1000;
	width: 100%;
}
.web-ticker ul marquee {
	font-size: 36px;
	font-family: 'Kalpurush', sans-serif;
}
.web-ticker ul {
	margin-top: 10px !important;
	height: 100px;
}

.ticker-sibling {
	background: #fff;
	/*width: 20%;*/
    width: 24.25%;
	height: 80px;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	float: right;
	right: 0;
	z-index: 100000;
	display: inline;
}

.web-ticker, *[class^="web-ticker"] {
	display: inline-block;
	white-space: nowrap;	
	position:absolute;
	width: 100%;
}

.web-ticker{
    /*margin-right: 20%;*/
    margin-right: 24.25%;
    width: 75.75%;
}


.sibling-list {
	padding-left: 35px;
}
.sibling-list li {
	display: inline-block;
    vertical-align: middle;
}

/* Time and data display*/
.time-frame {
    color: #000;
    font-family: Arial;
    margin-left: 12px;
    text-align: center;
}

#date-part {
    font-size: 12px;
}
#time-part {
    font-size: 24px;
}

#ticker-elements {
	padding-left: 0px;
}
/* Hide youtube logo*/
.hide-youtube-logo {
	width: 1440px;
	height: 810px;
	margin-top: -810px;
	background: transparent;
	z-index: 1000;
	position: relative;
}


.ng-isolate-scope input {
	/*display: none;*/
}